{% load static %}

{% include 'footer.html' %}
{% include 'Header.html' %}
<a href="tel:8826207080"><img class="ca" src="https://icon-library.com/images/phone-calling-icon/phone-calling-icon-21.jpg" ></a>
<a href="https://wa.me/8826207080"><img class="wa" src="{% static 'png-transparent-whatsapp-message-icon-whatsapp-logo-whatsapp-logo-text-logo-grass.png' %}" ></a>
    </body>

<div style="position:fixed; height:100%; left:0%; width:100%; top:100%; background-color:black;"></div>




<script src="{% static 'review.js' %}"></script>
<script src="{% static 'home.js' %}"></script>
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="{% static 'homeMob.css' %}">